<ul>
  {% for product in collections.products %}
  <li>
    <strong>
      <a href="{{ product.url | url }}">{{ product.data.name }}</a>
    </strong>
    -
    <time datetime="{{ product.date }}">{{ product.date }}</time>
    -
    <span>{{ product.data.description }}</span>
  </li>
  {% endfor %}
</ul>